.header {
  border-top: 4px solid $navy;
  border-bottom: 1px solid $navy;
  padding-top: $spacing-3;
  padding-bottom: $spacing-3;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
}

.header__nav {
  display: flex;
}
