$screen-sm: 512px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1280px;

$breakpoints: (
  xs: 0,
  sm: $screen-sm,
  md: $screen-md,
  lg: $screen-lg,
  xl: $screen-xl
);

$navy-light: #174872;
$navy: #0d395f;
$navy-dark: #022543;

// shades
$white: #fff;
$black: #000;

$gray-darkest: #202020;

$spacing-0: 0;
$spacing-1: rem(4);
$spacing-2: rem(8);
$spacing-3: rem(16);
$spacing-4: rem(24);
$spacing-5: rem(32);
$spacing-6: rem(40);
$spacing-7: rem(48);
$spacing-8: rem(64);
$spacing-9: rem(96);

$typescale-1: rem(12);
$typescale-2: rem(14);
$typescale-3: rem(16);
$typescale-4: rem(18);
$typescale-5: rem(20);
$typescale-6: rem(24);
$typescale-7: rem(28);
$typescale-8: rem(36);
$typescale-9: rem(48);
$typescale-10: rem(64);

// font stacks
$font-sans: ('whitney ssm a', 'whitney ssm b', tahoma, geneva, sans-serif);

// prettier-ignore
$font-serif: (
  'sentinel ssm a',
  'sentinel ssm b',
  georgia,
  serif
) ;
