@import './typography.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.pt-16\:9 {
  padding-top: 56.25%;
}

.h1 {
  @apply font-serif;
  @apply text-8;
  @apply leading-none;
}

@screen md {
  .h1 {
    @apply text-9;
  }
}

@screen lg {
  .h1 {
    @apply text-10;
  }
}

.h2 {
  @apply font-serif;
  @apply leading-heading;
  @apply text-7;
  @apply font-medium;
}

@responsive {
  .col-count-2 {
    column-count: 2;
  }
  .col-count-3 {
    column-count: 3;
  }
}

.contains-links {
  a {
    @apply underline;
    @apply text-navy;

    &:hover {
      text-decoration: none;
    }
  }
}
