<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% if title %}{{title}} - {% endif %}{{site.title}}</title>
    <meta name="description" content="{{site.description}}" />
    <link
      rel="shortcut icon"
      href="{{ '/img/midd_favicon.png ' | url }}"
      type="image/png"
    />
    <link rel="stylesheet" href="{{'/css/styles.css' | url }}" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cloud.typography.com/83898/706148/css/fonts.css"
    />
  </head>
  <body class="font-sans leading-body text-mine antialiased">
    {% include header.html %}

    <main>
      <div class="container">
        {{ content | safe }}
      </div>
    </main>

    {% include footer.html %}

    <script src="{{ '/js/main.js' | url }}"></script>
  </body>
</html>
