<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{'/css/main.css' | url }}" />
  </head>
  <body>
    <header class="header">
      <img src="{{ '/img/logo.svg' | url }}" alt="Middlebury Shield" />
    </header>

    <main>
      <h1>
        {{title}}
      </h1>

      {{ content | safe }}
    </main>

    <footer>
      &copy; Middlebury
    </footer>
  </body>
</html>
