<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{'/css/main.css' | url }}" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cloud.typography.com/83898/706148/css/fonts.css"
    />
  </head>
  <body>
    {% include header.html %}

    <main>
      <div class="container">
        {{ content | safe }}
      </div>
    </main>

    {% include footer.html %}
  </body>
</html>
