<footer class="footer">
  <h2 class="sr-only">
    Additional Navigation
  </h2>
  <div class="container">
    <div class="footer__wrap">
      <div class="footer__primary">
        <div class="footer__logo">
          <a href="https://www.middlebury.edu">
            {% include midd-logo.svg %}
          </a>
        </div>
      </div>
      <div class="footer__secondary">
        <ul class="footer__nav">
          {% for item in footer %}
          <li class="footer__item">
            <a href="{{ item.href }}" class="footer__link">
              {{ item.text }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</footer>
