<footer class="bg-navy-dark py-5">
  <div class="container">
    <div class="lg:flex items-center">
      <div class="flex-auto mb-5 lg:mb-0">
        <a href="{{site.midd_url}}">
          <span class="sr-only">Middlebury</span>
          {% include svg/midd-logo.svg %}
        </a>
      </div>
      <div class="flex-fill">
        <ul class="flex flex-wrap">
          {% for item in site.footer %}
          <li class="pr-5 mb-3 w-1/2 md:w-auto lg:mb-0 last:pr-0">
            <a href="{{ item.href }}" class="text-white hover:underline text-2">
              {{ item.text }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</footer>
