<header class="border-b border-t-8 border-navy py-2">
  <div class="container">
    <div class="flex justify-between items-center">
      <h1 class="">
        <a href="{{'/' | url}}">
          <span class="sr-only">
            {{site.title}}
          </span>
          <span aria-hidden="true" focusable="false">
            {% include svg/senior-celebration.svg %}
          </span>
        </a>
      </h1>

      <nav class="flex items-center">
        <ul class="hidden lg:flex mr-6">
          {% for item in collections.nav%}
          <li class="mr-4 last:mr-0">
            <a
              href="{% if item.data.url %}{{item.data.url}}{% else %}{{item.url | url}}{% endif %}"
              class="text-2 text-navy inline-block border-b-2 border-transparent hover:border-navy {% if page.url contains item.url %} border-navy {% endif %} flex items-center"
            >
              <span>
                {{item.data.title}}
              </span>

              {% if item.data.url %}
              <span aria-hidden="true" focusable="false" class="ml-2">
                {% include svg/external-link.svg %}
              </span>
              {% endif %}
            </a>
          </li>
          {% endfor %}
        </ul>

        <div class="flex justify-between">
          <button class="lg:hidden js-menu-btn px-4">
            <span class="sr-only">Toggle menu</span>
            <span class="times hidden">
              {% include svg/times.svg %}
            </span>
            <span class="bars">
              {% include svg/bars.svg %}
            </span>
          </button>

          <a href="{{site.midd_url}}">
            <span class="sr-only">Middlebury College</span>
            <span aria-hidden="true" focusable="false">
              {% include svg/shield.svg %}
            </span>
          </a>
        </div>
      </nav>
    </div>
  </div>
</header>
<div class="js-menu hidden bg-navy py-3">
  <div class="container">
    <ul class="">
      {% for item in collections.nav %}
      <li class="">
        <a
          href="{% if item.data.url %}{{item.data.url}}{% else %}{{item.url | url}}{% endif %}"
          class="block p-2 px-3 text-white flex items-center"
          >{{item.data.title}} {% if item.data.url %}
          <span aria-hidden="true" focusable="false" class="ml-2">
            {% include svg/external-link.svg %}
          </span>
          {% endif %}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
