<header class="header">
  <div class="container">
    <div class="header__wrap">
      <h1 class="header__logo">
        <span class="sr-only">
          Senior Celebration May 24, 2020
        </span>
        <img
          src="{{ '/img/senior-celebration.svg' | url }}"
          alt="Senior Celebration May 24, 2020"
          aria-hidden="true"
        />
      </h1>

      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__item">
            <a href="" class="header__link">Link 1</a>
          </li>
          <li class="header__item">
            <a href="" class="header__link">Link 2</a>
          </li>
        </ul>

        <img src="{{ '/img/shield.svg' | url }}" alt="Middlebury Shield" />
      </nav>
    </div>
  </div>
</header>
