<header class="border-b border-t-8 border-navy py-2">
  <div class="container">
    <div class="flex justify-between items-center">
      <h1 class="">
        <a href="{{'/' | url}}">
          <span class="sr-only">
            {{site.title}}
          </span>
          <span aria-hidden="true" focusable="false">
            {% include svg/senior-celebration.svg %}
          </span>
        </a>
      </h1>

      <nav class="flex items-center">
        <ul class="hidden md:flex mr-6">
          {% for item in site.nav %}
          <li class="mr-4 last:mr-0">
            <a
              href="{{item.url | url}}"
              class="text-navy inline-block border-b-2 border-transparent hover:border-navy"
              >{{item.text}}</a
            >
          </li>
          {% endfor %}
        </ul>

        <div class="flex justify-between">
          <button class="md:hidden js-menu-btn px-4">
            <span class="sr-only">Toggle menu</span>
            <span class="times hidden">
              {% include svg/times.svg %}
            </span>
            <span class="bars">
              {% include svg/bars.svg %}
            </span>
          </button>

          <a href="{{site.midd_url}}/college">
            <span class="sr-only">Middlebury College</span>
            <span aria-hidden="true" focusable="false">
              {% include svg/shield.svg %}
            </span>
          </a>
        </div>
      </nav>
    </div>
  </div>
</header>

<ul class="js-menu hidden bg-navy py-3">
  {% for item in site.nav %}
  <li class="">
    <a href="{{item.url | url}}" class="block p-2 px-3 text-white"
      >{{item.text}}</a
    >
  </li>
  {% endfor %}
</ul>
