<figure class="">
  <div class="" data-video='<iframe
    width="951"
    height="535"
    src=""
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe'>
  

  <div class="relative pt-16:9 h-0" data-video-content>
    <a href="{{video.button_href}}" data-video-btn>
      <div class="absolute inset-0 z-10">
        <img
          src="{{'/' | url }}img/{{video.image}}"
          alt="{{video.image_alt}}"
          class="object-contain h-full w-full"
        />
      </div>
      <div class="z-20 absolute inset-0 flex items-center justify-center">
        <div class="">
          <span
            class="inline-block text-navy px-4 py-2 bg-white hover:bg-navy hover:text-white flex items-center duration-100"
          >
            <span class="mr-2">
              {{video.button_text}}
            </span>

            <svg
              width="7"
              height="9"
              viewBox="0 0 7 9"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              focusable="false"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M6.5 4.02405L0.5 8.02405L0.5 0.0240479L6.5 4.02405Z"
                fill="currentColor"
              />
            </svg>
          </span>
        </div>
      </div>
    </a>
  </div>

  <figcaption class="text-center py-3 text-2 mx-auto max-w-3xl">
    {{video.caption}}
  </figcaption>
</figure>
