---
title: List of Graduates
layout: page
markdown: false
tags: page
sort: 10

intro: We are celebrating the graduation of the following Middlebury College seniors. Individual names will not be read during the livestreamed Senior Celebration, but at the in-person Commencement to come.

memoriam:
  title: In Memoriam
  text: |
    In memory of our classmates who have passed away during our four years at Middlebury.

  names:
    - Thibault	Lannoy
    - William	Nash
---

<p class="text-4 mb-8">
  {{intro}}
</p>

<ul class="md:col-count-2 lg:col-count-3 text-4 mb-8">
  {% for group in seniors %}
  <li class="inline-block w-full mb-5">
    <h2 class="font-serif text-5 mb-3 uppercase">{{group.letter}}</h2>
    <ul>
      {% for person in group.names %}
      <li class="text-2 mb-1">{{person.first_name}} {{person.last_name}}</li>
      {% endfor %}
    </ul>
  </li>

  {% endfor %}
</ul>

<hr class="my-5 border-gray-light" />

<h2 class="h2 mb-3">{{memoriam.title}}</h2>
<p class="text-4 mb-3">
  {{memoriam.text}}
</p>
<ul>
  {% for name in memoriam.names %}
  <li>
    {{name}}
  </li>
  {% endfor %}
</ul>
