---
layout: base

intro:
  title: Lorem ipsum dolor sit amet
  text: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

video:
  button_href: https://www.youtube.com/embed/5qap5aO4i9A
  button_text: Watch Live Stream
  image: mead-chapel.jpg
  image_alt: Mead Chapel
  iframe_src: '#'
  caption: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

social:
  title: '#MiddSeniorCelebration'
  text: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

closing:
  title: lorme ipsum dolor set
  text: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
---

<div class="py-5 md:py-6 lg:py-7 text-center max-w-3xl mx-auto">
  <h2 class="h2 mb-2">{{intro.title}}</h2>
  <p class="text-4">
    {{intro.text}}
  </p>
</div>

<div class="mb-7 -mx-3 md:mx-auto max-w-5xl">
  {% include video.html %}
</div>

<div class="text-center mb-7 border-t-4 pt-3 border-navy">
  <h2 class="text-7 mb-2 font-sans font-semibold text-navy leading-heading">
    {{social.title}}
  </h2>
  <p class="text-4 max-w-3xl mx-auto">
    {{social.text}}
  </p>
</div>

{% include tint.html %}

<div class="my-7 md:my-8 text-center max-w-3xl mx-auto">
  <h2 class="h2 mb-2">{{closing.title}}</h2>
  <p class="text-4">
    {{closing.text}}
  </p>
</div>
