---
layout: base

intro:
  title: Celebrating the graduates of Middlebury College
  text: |
    **Our livestream event begins Sunday, May 24, 2020, at 2 p.m. EDT**  

    Streaming from Middlebury College, the Senior Celebration recognizes our graduates and confers degrees. Students, families, faculty, staff, and friends are all invited&nbsp;to&nbsp;participate.

video:
  id: FePgACOZqKg
  transcript: false
  caption: Captioning is available in English, Spanish, and Chinese. Please use the CC controls in the video player above. For those having difficulty accessing YouTube, an [alternative Zoom livestream](https://middlebury.zoom.us/j/98008802659) is being broadcast with Chinese language captioning.
  note: At 1:30 p.m. EDT our video countdown begins. Senior Celebration starts at 2 p.m. EDT.

program:
  title: Order of the Program
  text: (total running time is under an hour)
  items:
    - Musical Video Introduction
    - Invocation
    - Greetings from President Laurie L. Patton
    - Congratulations from Provost Jeff Cason and Dean of the College Baishakhi Taylor
    - Senior Greetings (SGA President and Class Officers)
    - Senior Video Montage
    - Preview of On-Campus Commencement
    - Conferral of the Degrees
    - Singing of the Alma Mater

social:
  title: '#MiddSeniorCelebration'
  text: |
    Post photos and memories to celebrate our graduates! Use our #MiddSeniorCelebration hashtag or text to 1-936-255-2364. All content will be moderated. See our [guidelines](https://www.middlebury.edu/college/commencement/social-guidelines) for best ways to share. Content will begin appearing after the greeting from President Laurie L. Patton.

closing:
  title: Degrees and Diplomas
  text: |
    Students, parents, families, friends, faculty, and staff are all invited to share in this event where our graduating students’ bachelor’s degrees will be officially awarded. We look forward to hosting our graduates and families on campus for formal Commencement exercises as soon as they are feasible to schedule.

    Graduates will receive their diplomas by mail. Graduates can request that diplomas be mailed to a specific address. We will send an email with a link to the diploma mailing form soon.
---

<div class="py-5 md:py-6 lg:py-7 text-center max-w-3xl mx-auto">
  <h1 class="h2 mb-3">{{intro.title}}</h1>
  <p class="text-4">
    {{intro.text | markdownify}}
  </p>
</div>

<div class="mb-7 lg:mb-8">
  <div class="relative pt-16:9 h-0">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/{{video.id}}?autoplay=1&rel=0&modestbranding=1"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
      class="absolute inset-0 h-full w-full"
    >
    </iframe>
  </div>

  <p class="bg-mine p-2 text-1 text-white font-bold">
    {{video.note}}
  </p>

  <div class="border border-gray-light border-t-0 py-4 px-3">
    <div class="text-center">
      <h2 class="text-5 font-serif">{{program.title}}</h2>
      <p class="text-3 mb-3">{{program.text}}</p>
    </div>
    <ol class="sm:text-center pl-5 md:pl-0">
      {% for item in program.items %}
      <li class="mb-1 mr-3 lg:inline-block">
        <div class="inline-flex">
          <span class="font-bold mr-1 w-3">{{forloop.index}}.</span>
          <span>
            {{item}}
          </span>
        </div>
      </li>
      {% endfor %}
    </ol>
    {% if video.transcript %}
    <div class="max-w-4xl mx-auto">
      <div class="text-center">
        <button
          class="text-navy inline-flex items-center p-2 js-transcript-btn"
        >
          <span class="uppercase font-medium text-2 tracking-widest">
            Transcript
          </span>
          <span
            aria-hidden="true"
            focusable="false"
            class="ml-2 js-transcript-icon transform duration-200"
          >
            {% include svg/chevron-down.svg %}
          </span>
        </button>
      </div>
      <div class="typography typography--sm js-transcript-body hidden">
        {% include transcript.html %}
      </div>
    </div>
    {% endif %}
  </div>

  <div class="text-center text-2 mx-auto max-w-3xl contains-links py-3">
    {{video.caption | markdownify}}
  </div>
</div>

<div class="text-center border-t-4 pt-3 border-navy mb-7 lg:mb-8">
  <h2
    class="text-6 md:text-7 mb-3 font-sans font-semibold text-navy leading-heading"
  >
    {{social.title}}
  </h2>

  <p class="text-4 max-w-3xl mx-auto contains-links mb-6 lg:mb-7">
    {{social.text | markdownify}}
  </p>

  {% include tint.html %}
</div>

<div
  class="pb-7 md:pb-8 text-center max-w-3xl mx-auto border-t border-gray-light pt-5"
>
  <h2 class="h2 mb-3">{{closing.title}}</h2>
  <div class="text-4 contains-links contains-p">
    {{closing.text | markdown}}
  </div>
</div>
